.search-bar {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.5rem;
  font-family: sans-serif;
  width: 70%;
  margin: 0 auto;
}
.search-bar input {
  margin: 1rem 0rem;
  padding: 0.5rem;
  font-size: 2rem;
  font-family: sans-serif;
}

.search-bar form {
  display: flex;
  flex-direction: column;
}

